.main_container {
	display: flex;
	height: 100vh;
	width: 100vh;
	justify-content: center;
	align-items: center;
}
.tabs {
	width: 320px;
	display: flex;
	flex-direction: column;
	gap: 20px

}

.profile_info {
	display: flex;
	width: 100%;
	max-width: 800px;
	max-height: 800px;
	flex-direction: column;
	gap: 20px;
	margin-left: 80px;
}

.profile_info_buttons {
	display: flex;
	flex-direction: row;
	gap: 20px;
	width: 100%;

}